#contenidos{
	width: 95%;
	margin: 15px;
	padding:0px;
	position: relative;
}
header{
	background-color: #006680;
	background-repeat: no-repeat;
	  background-image: url(../img/logoblanco1.png);
    background-position: left;
}
h1{
	margin-top: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 55px;
	color: #b3b3b3;
	margin:20px;
	text-align: center;
}
h2{
	margin-top: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 35px;
	color: #b3b3b3;
	margin:20px;
	text-align: center;
}

h3{
	margin-top: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 25px;
	color: black;
	margin:20px;
	text-align: center;
}
h4{
	margin-top: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
	color: black;
	margin:5px;
	text-align: justify;
}

h5{
	margin-top: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
	color: white;
	margin:5px;
	text-align: center;
}
h6{
	margin-top: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
	color: black;
	margin:5px;
	text-align: justify;
}
nav{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #F0B429;
    border-radius: 30px;
    border-bottom-right-radius: 15px; 
    margin-bottom: 60px;
    padding: 8px;
           display: block;
}
ul{
    
    margin: 0px;
    padding: 0px;
    padding-left:  5px;
    text-align: center;
    display: inline-block;
}    
 
 li{ 
    float: left;
    text-align: center;
    list-style-type: none;
    background-color: #F0B429;
    /*border-radius: 5px;
    box-shadow: 0 0 5px black inset;*/
    width: inherit;
    height: 30px;
    font-size: 25px;
    color: white;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    }


 
li ul{
       position: relative;
       display: none;
       width: 220px;
       margin: 0px;
       padding-left: 0px;


    }
    
    li ul a{
        font-size: 20px;
    }
li:hover ul{
        display: block;
        
    }

aside{
    /*background-color: blue;*/
    width: 28%;
    float: left;
    margin-left: 30px;
    height: auto;
    padding-left: 30px;
    
    /*margin-left: 20px;*/
}

p{
    color: black;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: justify;
    margin-left: 10px;

}
a{
   
    font-family: 'Libre Franklin', sans-serif;
    text-align: center; 
}

figure{
    margin: 10px;
    padding: 10px;

}
img{
width: 80%;
    height: auto;
   	margin-left: 175px; 
    }

    footer{
    position: absolute;
    height: 55px;
    background-color: #006680;
    width: 100%;
    clear: both;
    
}
footer img{
    margin: 0px;
    height: 10px;
    width: auto;
}

.menu:link{color: white; text-decoration:none}
.menu:visited{color: white; text-decoration:none}    
.menu:hover{ color: #006680;text-decoration:none}
.menu:active{color: white; text-decoration:none}
.menu:focus{color: white; text-decoration:none}